<header class="main_h sticky">
    <div class="nav__row">
        <a class="logo" href="{{ '/' | url }}">Trang Dông</a>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                {% for item in navigation.items %}
                <li>
                    <a href="{{ item.url | url }}" class="{{ item.text }} link-active"
                       {% if item.newTab %} target="_blank" rel="noopener noreferrer" {% endif %}
                       {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                        <span class="link-active-before"></span>
                        {{ item.text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>